{% extends 'base.html' %}
{% block content %}
<h2> posted by <a href="{% url 'user_profile' post.user.username %}">{{ post.user.username }}</a></h2>
<p>{{ post.content }}</p>
{% if post.image %}
    <img src="{{ post.image.url }}" width="300">
{% endif %}
<p><b>Posted at: {{ post.created_at }}</b></p>
{% if user == post.user %}
    <p><a class="danger" href="{% url 'post_delete' post.id %}">Delete Post</a></p>
{% endif %}

<p>{{ post.like_set.count }} Likes</p>
<p><a href="{% url 'post_like' post.id %}">Like/Unlike</a></p>

<h3>Comments:</h3>
{% for comment in comments %}
    <p><b><a href="{% url 'user_profile' comment.user.username %}" >{{ comment.user.username }}</b></a>: {{ comment.content }}</p>
{% endfor %}



<form method="post" action="{% url 'post_comment' post.id %}">
    {% csrf_token %}
    <input type="text" name="content" required>
    <button type="submit">Comment</button>
</form>
{% endblock %}